@{
    ViewBag.Title = AcceptPortal.Resources.Global.MainMenuPreEditLabel;
}

<h1>@AcceptPortal.Resources.Global.MainMenuPreEditLabel</h1>
<ul>
    <li id="active"><h2>@Html.ActionLink(@AcceptPortal.Resources.Global.DemoLabel, "All", "Demo")</h2></li>	
    <li><h2><a target="_blank" href="@AcceptPortal.Utils.CoreUtils.LearnEndpointPreEdit">@AcceptPortal.Resources.Global.MainMenuLearnLabel</a></h2></li>      
    <li><h2>@Html.ActionLink(@AcceptPortal.Resources.Global.DownloadLabel, "Index", "Download")</h2></li>	           
    <li><h2>@Html.ActionLink(@AcceptPortal.Resources.Global.MainMenuAPIKeysLabel, "UserProfile", "PreEdit")</h2></li>
</ul>
