@{
    ViewBag.Title = "About";
}

<div class="rounded-corners" style="display:inline-block;background-color:transparent;border: 1px solid #E5E5E5;font-weight:bold;margin-top:80px;"> @*whiteSmoke*@
<div id="divInfo"  style="padding:15px;display:none;">
<div style="text-align:justify;">  
    <h2>@AcceptPortal.Resources.Global.MainMenuAboutLabel</h2>
            <p style="text-align:justify;">@AcceptPortal.Resources.Global.About_Index_Par1</p>
            <p style="text-align:justify;">@AcceptPortal.Resources.Global.About_Index_Par2</p>
            <p style="text-align:justify;">@AcceptPortal.Resources.Global.About_Index_Par3</p>
            <p style="text-align:justify;"><a href="http://accept-project.eu/" target="_blank">@AcceptPortal.Resources.Global.About_Index_Par4</a></p>

    
 <img src="@Url.Content("~/Content/images/all.PNG")"  style="width:100%;" alt="" />                 
</div>

    </div></div>

@section scripts{
<script type="text/javascript">
    //callback function to bring a hidden box back
    function callback() {
        //alert("asdasdas");
        //setTimeout(function () {
        //    $("#divInfo:visible").removeAttr("style").fadeOut();
        //}, 1000);
    };
    $(document).ready(function () {
        $("#divGlobalHeaderMargin").css("margin-top", "50px");
        setTimeout(function () {
            //$("#divInfo").show('clip', {}, 600, callback);
            $("#divInfo").show("clip");// $("#divInfo").show("blind");
        }, 800);
    });
</script>
}













@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@