<!DOCTYPE html>

@{
    Layout = null;
}

@using AcceptPortal.Helpers;

<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/bundles/bootstrap/css")   
        @Scripts.Render("~/bundles/modernizr")
      
</head>
<body>
     
    <div class="container">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
  
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/global")   
    @RenderSection("scripts", required: false)
  
</body>
</html>
