@model AcceptPortal.Models.Evaluation.EvaluationQuestionItem

@{
    ViewBag.Title = "Evaluation Demo Metrics";
}
     

<h1>@AcceptPortal.Resources.Global.EvaluationDemoMetrics</h1>

<div class="headerApps">
   
    <ul class="horizontal-slide">
        <li> <a class="underline-over" href="@Url.Action("Demo", "Evaluation")">@AcceptPortal.Resources.Global.EvaluationReturnToDemoPage</a></li>       
   </ul>
</div>

@if (Model != null)
{    
        <table id="demometrics" style="width:100%">
	        <caption>@Model.Question (@Model.Language.Name)</caption>
	        <thead>
		        <tr>
			        <td></td>
			        <th scope="col">Total</th>
		        </tr>
	        </thead>
    
	    <tbody>
    
        @foreach (var answer in Model.Answers)
        {
 		        <tr>
			        <th scope="row">@answer.Name</th>
			        <td>@answer.Count</td>
		        </tr>
        }
                
	</tbody>
</table>	

}

@section scripts{

<link href="@Url.Content("~/Scripts/visualize/css/visualize.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Scripts/visualize/css/visualize-light.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/visualize/js/visualize.jQuery.js")" type="text/javascript"></script>	
<script src="~/Scripts/global/evaluation/demo-metrics.js" type="text/javascript"></script>

}